<div class="container">
    <div class="row m-1 mb-4">
        <div class="col-xs-12 col-sm-12">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">Leaderboard</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1 mb-3">

        <!-- Medals -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-2">
            <div class="card bg-secondary text-white">
                <div class="card-body">

                    @if (!loadingMedals) {
                    <h5 class="card-title text-center">Medals</h5>
                    <div class="container">

                        <!-- insert phantom symbol-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <p class="card-text">&#8203;</p>
                            </div>
                        </div>
                        <hr />

                        <div class="row" *ngFor="let attendee of statisticsMedals; let i = index">

                            @if (attendee.name) {
                            <div class="col-xs-2 col-sm-2">
                                <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                    {{ attendee.value }}
                                </p>
                            </div>

                            <div class="col-xs-4 col-sm-4">
                                <p class="card-text text-truncate">
                                    {{ attendee.name }}
                                </p>
                            </div>

                            <div class="col-xs-2 col-sm-2">
                                <p class="card-text text-end font-monospace">
                                    {{ attendee.medals[0] }}x🥇
                                </p>
                            </div>

                            <div class="col-xs-2 col-sm-2">
                                <p class="card-text text-end font-monospace">
                                    {{ attendee.medals[1] }}x🥈
                                </p>
                            </div>

                            <div class="col-xs-2 col-sm-2">
                                <p class="card-text text-end font-monospace">
                                    {{ attendee.medals[2] }}x🥉
                                </p>
                            </div>
                            }
                        </div>
                    </div>
                    } @else {
                    <h5 class="card-title text-center">
                        Medals
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    }
                </div>
            </div>
        </div>

        <!-- Points -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 mb-2">
            <div class="card bg-secondary text-white">
                <div class="card-body">

                    @if (!loadingPoints) {
                    <h5 class="card-title text-center">Points</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Total
                                </p>
                            </div>

                            <div class="d-none d-xl-block col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Average
                                </p>
                            </div>

                            <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Best
                                </p>
                            </div>
                        </div>
                        <hr />

                        <div class="row">

                            <!-- Total-->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of statisticsPoints[0]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Average-->
                            <div class="d-none d-xl-block col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of statisticsPoints[1]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Best-->
                            <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of statisticsPoints[2]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @else {
                    <h5 class="card-title text-center">
                        Points
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Objectives -->
    <div class="row m-1 mb-4">
        <div class="col-xs-12 col-sm-12">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">Objectives</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-3"
            *ngFor="let objective of statisticsObjectivePoints">
            <div class="card bg-secondary text-white">
                <div class="card-body">

                    @if (!loadingObjectivePoints) {
                    <h5 class="card-title text-center">{{ objective.name }}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Total
                                </p>
                            </div>

                            <div class="d-none d-xl-block col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Average
                                </p>
                            </div>

                            <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <p class="card-text text-center fw-semibold">
                                    Best
                                </p>
                            </div>
                        </div>
                        <hr />

                        <div class="row">

                            <!-- Total-->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of objective.values[0]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Average-->
                            <div class="d-none d-xl-block col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of objective.values[1]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Best-->
                            <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-4">
                                <div class="container">
                                    <div class="row" *ngFor="let attendee of objective.values[2]">
                                        @if (attendee.name) {
                                        <div class="col-xs-8 col-sm-8">
                                            <p class="card-text text-truncate">
                                                {{ attendee.name }}
                                            </p>
                                        </div>

                                        <div class="col-xs-4 col-sm-4">
                                            <p class="card-text text-end text-truncate fw-semibold font-monospace">
                                                {{ attendee.value }}
                                            </p>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @else {
                    <h5 class="card-title text-center">
                        Points
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>