<div class="container">
    <div class="row m-1">
        <div class="col">
            <h1>Sign-In</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                <input type="text" class="form-control mb-2" formControlName="tokenId" placeholder="Token"/>
                <button type="submit" class="btn btn-secondary me-2" [disabled]="!signInForm.valid">Sign-In</button>
                <a href="/sign-up">
                    <button type="button" class="btn btn-light">Go to Sign-Up</button>
                </a>
            </form>
        </div>
        <div class="col">
            @if (isAuthorized) {
                <ngb-toast header="Authentification" [autohide]="false">
                    Sign-in successful!
                </ngb-toast>
            }
            @if (isUnauthorized) {
                <ngb-toast header="Authentification" [autohide]="false">
                    Token is invalid...
                </ngb-toast>
            }
        </div>
    </div>
</div>

