// change colors
$primary: #1A1E26;
$secondary: #343A40;
$success: #4C7359;
$info: #5864A6;
$warning: #F29D35;
$danger: #C4635A;

// change text colors
$headings-color: white;
$text-color: white;

// import Bootstrap variables
@import "node_modules/bootstrap/scss/bootstrap";