// change colors
$primary: #5C4B51;
$secondary: #F3B562;
$success: #8CBEB2;
$info: #8E98A6;
$warning: #F2EBBF;
$danger: #DA6E65;

// change text colors
$headings-color: white;
$text-color: white;

// import Bootstrap variables
@import "node_modules/bootstrap/scss/bootstrap";