.navbar-nav .nav-item .btn:hover {
    background-color: #F3B562;
}

.navbar-nav .nav-item .btn-danger {
  background-color: #DA6E65;
  border-color: #DA6E65;
}

.navbar-nav .nav-item .btn-danger:hover {
  background-color: #BD6057;
  border-color: #BD6057;
}