<div class="container">
    <div class="row m-1 mb-4">
        <div class="col-12 col-sm-12">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">Contests</h3>
                </div>
            </div>
        </div>
    </div>

    @if (contestListResponseBody) {
    <div class="row m-1 mb-2" *ngFor="let contest of contestListResponseBody.data.contests; let i = index">
        <div class="col-12 col-sm-12">
            <div class="card bg-secondary text-white">
                <div class="card-body card-height">
                    <div class="container">
                        <div class="row">

                            <!-- Left Side -->
                            <div class="col-8 col-sm-8 d-flex flex-column justify-content-center">
                                <h5 class="card-title">
                                    {{ contest.contestId }}

                                    <!-- State -->
                                    @if (contest.state === "Open") {
                                    <span class="badge rounded-pill bg-success text-uppercase me-2">
                                        {{ contest.state }}
                                    </span>
                                    }

                                    @if (contest.state === "Started") {
                                    <span class="badge rounded-pill bg-info text-uppercase me-2">
                                        {{ contest.state }}
                                    </span>
                                    }

                                    @if (contest.state === "Closed") {
                                    <span class="badge rounded-pill bg-danger text-uppercase me-2">
                                        {{ contest.state }}
                                    </span>
                                    }

                                    <!-- Type -->
                                    <span class="d-none d-lg-inline badge rounded-pill bg-dark text-uppercase me-2">
                                        {{ contest.type }}
                                    </span>

                                    <!-- Date -->
                                    <span class="d-none d-lg-inline badge rounded-pill bg-dark text-uppercase me-2">
                                        {{ contest.creationDate }}
                                    </span>

                                    <!-- Round -->
                                    @if (contest.state === "Started") {
                                    @if (contest.maxRoundCount === 0) {
                                    <span class="d-none d-xl-inline badge rounded-pill bg-success text-uppercase me-2">
                                        Round {{ contest.currentRound }}
                                    </span>
                                    } @else {
                                    <span class="d-none d-xl-inline badge rounded-pill bg-success text-uppercase me-2">
                                        Round {{ contest.currentRound }} / {{ contest.maxRoundCount }}
                                    </span>
                                    }
                                    }

                                    <!-- Rated -->
                                    @if (contest.rated) {
                                    <span class="d-none d-lg-inline badge rounded-pill bg-warning text-uppercase me-2">
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    }
                                </h5>
                            </div>

                            <!-- Right Side -->
                            <div class="col-4 col-sm-4 d-flex align-items-center justify-content-end">

                                <!-- View -->
                                <a class="btn btn-info m-1 text-white" routerLink="/contests/{{ contest.contestId }}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>

                                <!-- Join / Leave -->
                                @if (contest.state === "Open") {
                                @if (isAttendee[i]) {
                                <button class="btn btn-danger m-1 fw-semibold text-white"
                                    (click)="leaveContest(contest.contestId, userId)">
                                    <i class="fa-solid fa-user-minus"></i>
                                </button>
                                } @else {
                                <button class="btn btn-success m-1 fw-semibold text-white"
                                    (click)="joinContest(contest.contestId, userId)">
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                                }
                                }

                                <!-- Contest Author -->
                                @if (contest.authorId === userId) {

                                <!-- Start -->
                                @if (contest.state === "Open") {
                                <button class="btn btn-success m-1 text-white"
                                    (click)="startContest(contest.contestId)">
                                    <i class="fa-solid fa-play"></i>
                                </button>
                                }

                                <!-- Round -->
                                @if (contest.state === "Started") {
                                <button class="btn btn-success m-1 text-white" (click)="nextRound(contest.contestId)">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
                                }

                                <!-- End -->
                                @if (contest.state !== "Open" && contest.state !== "Closed") {
                                <button class="btn btn-danger m-1 text-white" (click)="closeContest(contest.contestId)">
                                    <i class="fa-solid fa-flag-checkered"> </i>
                                </button>
                                }

                                <!-- Delete -->
                                @if (contest.state === "Open") {
                                <button class="btn btn-danger m-1 text-white"
                                    (click)="deleteContest(contest.contestId, userId)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                }

                                <!-- Statistics -->
                                @if (contest.state === "Closed") {
                                <button class="btn btn-warning m-1 text-white"
                                    (click)="refreshStatistics(contest.contestId)">
                                    <i class="fa-solid fa-chart-simple"></i>
                                </button>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>