<div class="container">
    <div class="row m-1">
        <div class="col">
            <h1>Contests</h1>
            <hr>
        </div>
    </div>
    @if (contestListResponseBody) {
        @for (contest of contestListResponseBody.data.contests; track contest.contestId) {
            <div class="row m-1">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="card-title">{{ contest.contestId }}
                                            @if (contest.state === "Open") {
                                                <span class="badge bg-success" style="text-transform:uppercase">{{ contest.state }}</span>
                                            }
                                            @if (contest.state === "Started") {
                                                <span class="badge bg-info" style="text-transform:uppercase">{{ contest.state }}</span>
                                            }
                                            @if (contest.state === "Closed") {
                                                <span class="badge bg-danger" style="text-transform:uppercase">{{ contest.state }}</span>
                                            }
                                        </h5>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <p class="card-text fw-semibold">Type</p>
                                                    <p class="card-text fw-semibold">Round</p>
                                                    <p class="card-text fw-semibold">Rated</p>
                                                </div>
                                                <div class="col-md-10">
                                                    <p class="card-text">{{ contest.type }} </p>
                                                    @if (contest.maxRoundCount === 0) {
                                                        <p class="card-text">{{ contest.currentRound }}</p>
                                                    } @else {
                                                        <p class="card-text">Round: {{ contest.currentRound }} / {{ contest.maxRoundCount }}</p>
                                                    }
                                                    @if (contest.rated) {
                                                        <p class="card-text">Yes</p>
                                                    } @else {
                                                        <p class="card-text">No</p>
                                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-items-center justify-content-end">
                                        
                                        <!-- View -->
                                        <a class="btn btn-info m-1" routerLink="/contests/{{ contest.contestId }}"><i class="fa-solid fa-eye"></i></a>

                                        <!-- Join / Leave -->
                                        @if (contest.state === "Open") {
                                            <button class="btn btn-success m-1"><i class="fa-solid fa-user-plus"></i></button>
                                            <button class="btn btn-warning m-1"><i class="fa-solid fa-user-minus"></i></button>
                                        }

                                        <!-- Contest Author -->
                                        @if (contest.authorId === userId) {

                                            <!-- Start -->
                                            @if (contest.state === "Open") {
                                                <button class="btn btn-success m-1"><i class="fa-solid fa-play"></i></button>
                                            }

                                            <!-- Round -->
                                            @if (contest.state === "Started") {
                                                <button class="btn btn-success m-1"><i class="fa-solid fa-arrow-right"></i></button>
                                            }

                                            <!-- End -->
                                            @if (contest.state !== "Closed") {
                                                <button class="btn btn-danger m-1"><i class="fa-solid fa-flag-checkered"></i></button>
                                            }

                                            <!-- Delete -->
                                            <button class="btn btn-danger m-1"><i class="fa-solid fa-trash"></i></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Created on {{ contest.creationDate }}</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
