<div class="container">
    <div class="row m-1 mb-4">
        <div class="col-6 col-sm-6 col-md-8 col-lg-10">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ contestId }}</h3>
                </div>
            </div>
        </div>

        <!-- Timer -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            @if (contestDetailResponseBody) {
            @if (contestDetailResponseBody.data.state === "Started") {
            @if (!loadingTimer) {
            @if (contestTimerDetailResponseBody) {
            @if (remainingTime) {
            @if (!remainingTime[0]) {
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h3 class="card-title text-center font-monospace">
                        {{ remainingTime[1] | number:'2.0-0'}}:{{ remainingTime[2] | number:'2.0-0'}}
                    </h3>
                </div>
            </div>
            } @else {
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h3 class="card-title text-center font-monospace">
                        {{ remainingTime[1] | number:'2.0-0'}}:{{ remainingTime[2] | number:'2.0-0'}}
                    </h3>
                </div>
            </div>
            }
            }
            } @else {
            @if (contestDetailResponseBody.data.authorId === userId) {
            <div class="card bg-secondary text-white">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <h3>&#8203;</h3>
                    <div class="btn-group m-1">
                        <a class="btn btn-danger btn-sm text-white" (click)="durationLess()">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        <a class="btn btn-secondary btn-sm text-white fw-semibold font-monospace"
                            (click)="createTimer()">
                            {{ duration }}
                        </a>
                        <a class="btn btn-success btn-sm text-white" (click)="durationMore()">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            } @else {
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <i class="fa-solid fa-stopwatch"></i>
                    </h3>
                </div>
            </div>
            }
            }
            } @else {
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                </div>
            </div>
            }
            } @else {
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <i class="fa-solid fa-stopwatch"></i>
                    </h3>
                </div>
            </div>
            }
            } @else {
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                </div>
            </div>
            }
        </div>
    </div>

    <!-- Hot Row -->
    <div class="row m-1">

        <!-- Logging -->
        @if (!loadingObjectives) {
        @if (contestObjectiveListResponseBody && contestDetailResponseBody) {
        <div class="col-12 col-xl-6 mb-3">
            <div class="card bg-secondary text-white second-row-height">
                <div class="card-body">
                    <h5 class="card-title text-center">Logging</h5>
                    <hr>

                    <div class="container">
                        <div class="row mb-1"
                            *ngFor="let objective of contestObjectiveListResponseBody.data.objectives; let i = index">
                            <div class="col-3 col-sm-3 d-flex justify-content-center align-items-center">
                                <span class="fw-semibold text-white">{{ objective.name }}</span>
                            </div>

                            @if (contestDetailResponseBody.data.state === "Started") {
                            <div class="btn-group col-5 col-sm-5">
                                <a class="btn btn-danger text-white" (click)="entryLess(i)">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <a class="btn btn-secondary disabled text-white fw-semibold font-monospace">
                                    {{ entryValues[i] }}
                                </a>
                                <a class="btn btn-success text-white" (click)="entryMore(i)">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            } @else {
                            <div class="btn-group col-5 col-sm-5">
                                <a class="btn btn-danger text-white disabled">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <a class="btn btn-secondary disabled text-white fw-semibold font-monospace">
                                    {{ entryValues[i] }}</a>
                                <a class="btn btn-success text-white disabled">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            }

                            <div class="col-2 col-sm-2 d-flex justify-content-center align-items-center">
                                <span class="fw-semibold text-white font-monospace">x {{ objective.value }}</span>
                            </div>
                            <div class="col-2 col-sm-2 d-flex justify-content-center align-items-center">
                                <span class="fw-semibold text-white font-monospace">
                                    {{ entryValues[i] * objective.value}}
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            @if (contestDetailResponseBody.data.state === "Open") {
                            <button class="btn btn-warning text-white" disabled>Waiting</button>
                            }

                            @if (contestDetailResponseBody.data.state === "Started") {
                            <button class="btn btn-info text-white" [disabled]="!overallEntrySum"
                                (click)="logEntry()">Submit <span class="badge">{{ overallEntrySum }}</span></button>
                            }

                            @if (contestDetailResponseBody.data.state === "Closed") {
                            <button class="btn btn-danger text-white" disabled>Closed</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        } @else {
        <div class="col-12 col-xl-6 mb-3">
            <div class="card bg-secondary text-white second-row-height">
                <div class="card-body">
                    <h5 class="card-title text-center">Logging
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    <hr>
                </div>
            </div>
        </div>
        }

        <!-- Live Feed-->
        @if (!loadingEntries) {
        <div class="col-12 col-xl-6 mb-3">
            <div class="card bg-secondary text-white second-row-height">
                <div class="card-body">
                    <h5 class="card-title text-center">Live Feed</h5>
                    <hr>

                    @if (contestEntryListResponseBody && contestDetailResponseBody) {
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-3 col-sm-3">
                                <span class="fw-bold text-white">Name</span>
                            </div>

                            <div
                                class="d-none d-lg-block col-lg-1 col-xl-2 d-flex justify-content-center align-items-center">
                                <span class="fw-bold text-white">Time</span>
                            </div>

                            <div class="d-none d-md-block col-md-1 d-flex justify-content-center align-items-center">
                                <span class="fw-bold text-white"><i class="fa-regular fa-circle"></i></span>
                            </div>

                            <div class="col d-flex justify-content-center align-items-center"
                                *ngFor="let objective of contestEntryListResponseBody.data.entries[0].values; let i = index">
                                <span class="fw-bold text-white">{{ objective.name }}</span>
                            </div>
                        </div>
                        <div *ngFor="let entry of contestEntryListResponseBody.data.entries; let i = index">
                            <div class="row mb-2" *ngIf="i<7">
                                <div class="col-3 col-sm-3">
                                    @if (entry.attendeeName) {
                                    @if (entry.attendeeId === userId && contestDetailResponseBody.data.state !==
                                    "Closed") {
                                    <span class="text-white text-truncate">{{ entry.attendeeName }}</span>
                                    <button class="btn btn-danger btn-sm text-white p-0 px-1 ms-2"
                                        (click)="deleteEntry(entry.entryId)">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    } @else {
                                    <span class="text-white text-truncate">{{ entry.attendeeName }}</span>
                                    }
                                    } @else {
                                    <span class="text-white fst-italic">Unknown</span>
                                    }
                                </div>
                                <div
                                    class="d-none d-lg-block col-lg-1 col-xl-2 d-flex justify-content-center align-items-center">
                                    <span class="text-white font-monospace">{{ entry.modtime }}</span>
                                </div>
                                <div
                                    class="d-none d-md-block col-md-1 d-flex justify-content-center align-items-center">
                                    <span class="text-white font-monospace">{{ entry.round }}</span>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center"
                                    *ngFor="let objective of contestEntryListResponseBody.data.entries[i].values; let j = index">
                                    <span class="text-white font-monospace">{{ objective.value }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @else {
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="text-white">No entries, yet!</span>
                    </div>
                    }
                </div>
            </div>
        </div>
        } @else {
        <div class="col-12 col-xl-6 mb-3">
            <div class="card bg-secondary text-white second-row-height">
                <div class="card-body">
                    <h5 class="card-title text-center">Live Feed
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    <hr>
                </div>
            </div>
        </div>
        }
    </div>

    <!-- Standings -->
    <div class="row m-1">

        @if (!loadingAttendees) {
        @if (contestAttendeeListResponseBody) {
        <div class="col-12 col-md-6 col-xl-3 mb-3"
            *ngFor="let round of contestAttendeeListResponseBody.data.attendees[0].places; let i = index">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    @if (i) {
                    <h5 class="card-title text-center">Round {{ i }}</h5>
                    } @else {
                    <h5 class="card-title text-center">Overall</h5>
                    }
                    <hr>

                    <div class="container">
                        <div class="row" *ngFor="let contestAttendee of sortedAttendees[i]; let j = index">
                            <div class="col-2 col-sm-2">
                                @if (sortedAttendees[i][j].places[i] === 1 && sortedAttendees[i][j].points[i] !== 0) {
                                <p class="card-text">🥇</p>
                                }

                                @if (sortedAttendees[i][j].places[i] === 2 && sortedAttendees[i][j].points[i] !== 0) {
                                <p class="card-text">🥈</p>
                                }

                                @if (sortedAttendees[i][j].places[i] === 3 && sortedAttendees[i][j].points[i] !== 0) {
                                <p class="card-text">🥉</p>
                                }
                            </div>
                            <div class="col-7 col-sm-7">
                                @if (sortedAttendees[i][j].name) {
                                <p class="card-text text-truncate">{{ sortedAttendees[i][j].name }}</p>
                                } @else {
                                <p class="card-text fst-italic">Unknown</p>
                                }
                            </div>
                            <div class="col-3 col-sm-3">
                                <p class="card-text text-end fw-semibold font-monospace">{{
                                    sortedAttendees[i][j].points[i] }}</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Teams -->
                    @if(i) {
                    @if(!loadingTeams) {
                    @if(contestTeamListResponseBody.data.rounds[i - 1].teams.length) {
                    <div class="container">
                        <div class="row"
                            *ngFor="let team of contestTeamListResponseBody.data.rounds[i - 1].teams; let j = index">
                            <div class="d-flex justify-content-center align-items-center mb-3">
                                <span class="text-white fw-semibold">Team {{ j + 1}}</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center"
                                *ngFor="let attendee of team.attendees; let k = index">
                                @if(contestDetailResponseBody.data.authorId === userId) {
                                @if(i === contestDetailResponseBody.data.currentRound && j) {
                                @if(contestDetailResponseBody.data.state !== "Closed") {
                                <button class="btn btn-secondary btn-sm text-white ms-1 me-1"
                                    (click)="moveAttendee(1, j, k)">
                                    <i class="fa-solid fa-caret-up"></i>
                                </button>
                                }
                                }
                                }
                                <span>{{ attendee.name }}</span>
                                @if(contestDetailResponseBody.data.authorId === userId) {
                                @if(i === contestDetailResponseBody.data.currentRound &&
                                j !== contestTeamListResponseBody.data.rounds[i - 1].teams.length - 1) {
                                @if(contestDetailResponseBody.data.state !== "Closed") {
                                <button class="btn btn-secondary btn-sm text-white ms-1 me-1"
                                    (click)="moveAttendee(0, j, k)">
                                    <i class=" fa-solid fa-caret-down"></i>
                                </button>
                                }
                                }
                                }
                            </div>
                            <div class="m-2"></div>
                        </div>
                    </div>

                    } @else {
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="text-white fst-italic">No teams in this round</span>
                    </div>
                    }

                    <!-- Team Management -->
                    @if(contestDetailResponseBody.data.authorId === userId) {
                    @if(i === contestDetailResponseBody.data.currentRound) {
                    <div *ngFor="let size of teamSizes; let j = index">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group m-1">
                                <a class="btn btn-danger btn-sm text-white" (click)="sizeLess(j)">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <a class="btn btn-secondary btn-sm disabled text-white fw-semibold font-monospace">
                                    {{ size }}
                                </a>
                                <a class="btn btn-success btn-sm text-white" (click)="sizeMore(j)">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    @if(contestDetailResponseBody.data.state !== "Closed") {
                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Remove Team -->
                        <button class="btn btn-secondary m-1 text-white" (click)="removeTeam()">
                            <i class="fa-solid fa-minus"></i>
                        </button>

                        <!-- Add Team -->
                        <button class="btn btn-secondary m-1 text-white" (click)="addTeam()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <!-- Generate Teams -->
                        @if(overallSizeSum === contestAttendeeListResponseBody.data.attendees.length) {
                        <button class="btn btn-success m-1 text-white" (click)="generateTeams()">
                            <i class="fa-solid fa-dice"></i>
                        </button>
                        } @else {
                        <button class="btn btn-primary m-1 text-white disabled">
                            <i class="fa-solid fa-dice"></i>
                        </button>
                        }

                        <!-- Update Teams -->
                        @if(buttonTeamUpdateClicked) {
                        <button class="btn btn-success m-1 text-white disabled">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        } @else {
                        <button class="btn btn-warning m-1 text-white" (click)="updateTeams()">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                        </button>
                        }
                    </div>
                    }
                    }
                    }
                    } @else {
                    <h5 class="card-title text-center">Teams
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                    }
                    }
                </div>
            </div>
        </div>
        } @else {
        <div class="col-12 col-sm-12 mb-3">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h5 class="card-title text-center">No attendees, yet!</h5>
                </div>
            </div>
        </div>
        }

        } @else {
        <div class="col-12 col-sm-12 mb-3">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h5 class="card-title text-center">Attendees
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h5>
                </div>
            </div>
        </div>
        }
    </div>
</div>