<div class="container">
    <div class="row m-1">
        <div class="col">
            <h1>Sign-Up</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <input type="text" class="form-control mb-2" formControlName="userId" placeholder="User-ID"/>
                <input type="text" class="form-control mb-2" formControlName="name" placeholder="Name"/>
                <button type="submit" class="btn btn-secondary me-2" [disabled]="!signUpForm.valid" [disabled]="isSignedUp">Sign-Up</button>
                <a href="/sign-in">
                    <button type="button" class="btn btn-light">Go to Sign-In</button>
                </a>
            </form>
        </div>
        <div class="col">
            @if (isSignedUp) {
                <ngb-toast header="Authentification" [autohide]="false">
                    Sign-up successful! Use this private token to login and don't lose it:
                    <br>
                    <br>
                    <strong><pre><code>{{ signUpResponseBody.data.privateTokenId }}</code></pre></strong>
                </ngb-toast>
            }
            @if (isAlreadyExisting) {
                <ngb-toast header="Authentification" [autohide]="false">
                    User already exists...
                </ngb-toast>
            }
            @if (isOtherError) {
                <ngb-toast header="Authentification" [autohide]="false">
                    Something has gone wrong...
                </ngb-toast>
            }
        </div>
    </div>
</div>