<div class="container">
    <div class="row m-1 mb-4">
        <div class="col-xs-12 col-sm-12">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">Profile</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-xs-12 col-sm-12">
            <div class="card bg-secondary text-white text-center">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text">Private Token: {{ tokenId }}</p>
                    <p class="card-text">ID: {{ userId }}</p>
                    <p class="card-text">Name: {{ name }}</p>
                    <br>
                    <button type="button" class="btn btn-danger text-white" (click)="signOut()">Sign-Out</button>
                </div>
            </div>
        </div>
    </div>
</div>>