<div class="container">
    <div class="row m-1 mb-4">
        <div class="col-xs-12">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h3 class="card-title text-center">Home</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
            <a
                class="card bg-success card-body btn fw-semibold text-white"
                routerLink="/contests"
            >
                Contests
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
            <a
                class="card bg-warning card-body btn fw-semibold text-white"
                routerLink="/leaderboard"
            >
                Leaderboard
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 mb-3">
            <a
                class="card bg-danger card-body btn fw-semibold text-white"
                routerLink="/profile"
            >
                Profile
            </a>
        </div>
    </div>
</div>
